apiVersion: v1
kind: Secret
metadata:
  name: iscsi-targetd-chap-secret
type: Opaque
data:
  discovery.sendtargets.auth.username: {{ USERNAME }}
  discovery.sendtargets.auth.password: {{ PASSWORD }}
  discovery.sendtargets.auth.username_in: ""
  discovery.sendtargets.auth.password_in: ""
  node.session.auth.username: {{ USERNAME }}
  node.session.auth.password: {{ PASSWORD }}
  node.session.auth.username_in: ""
  node.session.auth.password_in: ""
